<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Drive Health Dashboard</title>
</head>

<body>
    <div class="container bordered">

        <div class="container-titlebar">
            <div class="pad">
                <h4>{{ .hdd.Model }} <span class="grooved">{{ .hdd.Size }}</span></h4>
            </div>
        </div>

        <div class="container-body">
            <div class="pad">
                <table id="disks-table">
                    <thead>
                        <tr>
                            <td>ID</td>
                            <td>Name</td>
                            <td>Model</td>
                            <td>Serial</td>
                            <td>Temperature</td>
                        </tr>
                    </thead>
                    <tbody id="disk-table-body">
                        <tr>
                            <td>#{{ .hdd.ID }}</td>
                            <td> {{ .hdd.Name }}</td>
                            <td> {{ .hdd.Model }}</td>
                            <td> {{ .hdd.Serial }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>

</body>
</html>
