<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Drive Health Dashboard</title>
</head>
<body>
    <div class="container">
        <h1>Drive Health Dashboard</h1>
        <table>
            <thead>
                <!-- ... table headers ... -->
            </thead>
            <tbody id="disk-table-body">
                <!-- Data will be populated here by JavaScript -->
            </tbody>
        </table>

        <hr>

        <div class="chart-container" style="position: relative; height:40vh; width:80vw; overflow-x: scroll;">
            <canvas id="temperatureChart"></canvas>
        </div>
        

    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js@latest"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns@latest"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom@latest"></script>

    <script src="/static/main.js"></script>
</body>
</html>
